@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Dancing+Script:wght@500&family=Expletus+Sans&display=swap");

.body {
  background: rgba(255, 254, 254, 0.5);
}
.form-page-shadow {
  position: absolute;
  width: 100%;
  height: 1223px;
  top: 759px;
  background-color: #fff;
  opacity: 0.5;
}
.form-paragraph {
  width: 1132px;
  margin: auto;
  margin-top: 63px;
  line-height: 53px;
  font-family: "Carrois Gothic SC";
  font-style: normal;
  font-weight: 400;
  font-size: 19.07px;
  line-height: 53px;
  /* or 277% */
  color: #000000;
}

.form {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 871px;
  width: 970px;
  top: 759px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  opacity: 0.88;
  box-shadow: 0px 4px 4px 7px rgba(0, 0, 0, 0.07);
  border-radius: 25px;
  margin-bottom: 426px;
  font-family: "Expletus Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16.07px;
  line-height: 53px;
}
.form-header {
  margin-right: 22px;
  font-family: "Expletus Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 29.07px;
  line-height: 53px;
}

.form-row {
  display: flex;
  margin-left: 85px;
  margin-right: 84px;
}

.FName {
  height: 48px;
  width: 292px;
  border-radius: 8px;
  background: rgba(217, 217, 217, 0.32);
  border-style: solid;
  border-width: 0px;
  margin-right: 40px;
}

.LName {
  height: 48px;
  width: 292px;
  border-radius: 8px;
  background: rgba(217, 217, 217, 0.32);
  border-style: solid;
  border-width: 0px;
}
.email {
  height: 48px;
  width: 292px;
  border-radius: 8px;
  background: rgba(217, 217, 217, 0.32);
  border-style: solid;
  border-width: 0px;
  margin-right: 40px;
  font-family: "Expletus Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16.07px;
  line-height: 53px;
}
.key-phone {
  height: 48px;
  width: 66px;
  border-radius: 8px;
  background: rgba(217, 217, 217, 0.32);
  margin-right: 22px;
  border-style: solid;
  border-width: 0px;
}
.phone {
  height: 48px;
  width: 200px;
  border-radius: 8px;
  background: rgba(217, 217, 217, 0.32);
  border-style: solid;
  border-width: 0px;
}
.company {
  height: 48px;
  width: 292px;
  border-radius: 8px;
  background: rgba(217, 217, 217, 0.32);
  border-style: solid;
  border-width: 0px;
  margin-right: 40px;
}
.country {
  height: 48px;
  width: 292px;
  border-radius: 8px;
  background: rgba(217, 217, 217, 0.32);
  border-style: solid;
  border-width: 0px;
}
.final-form-label {
  margin-right: 491px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.final-form-input {
  height: 114px;
  width: 633px;
  border-radius: 8px;
  background: rgba(217, 217, 217, 0.32);
  border-style: solid;
  border-width: 0px;
}

.submit-button {
  height: 46px;
  width: 145px;
  border-radius: 8px;
  background-color: #d81f37;
  color: #ffffff;
  border-color: #d81f37;
  border-style: solid;
  border-width: 0px;
  margin-right: 487px;
  margin-top: 25px;
  font-family: "Expletus Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 21.07px;
  line-height: 53px;
}
.submit-button:hover {
  background-color: #1aab8c;
  color: #ffffff;
  border-color: #1aab8c;
  border-style: none;
}
.form-main-img {
  margin-top: 280px;
  object-fit: contain;
  width: 100%;
  color: red;
  background: rgb(255, 254, 254);
}
.form-footer {
  background-color: #084356;
  margin-top: -5px;
  padding-top: 50px;
}
